@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-theme: #e4d804;
}

body {
  background: #000;
  color: #fff;
}

.header__transparent {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}
.header__transparent-2 {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
}
.header__transparent-3 {
  -webkit-clip-path: polygon(0 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(35% 0%, 100% 0%, 70% 100%, 0% 100%);
}

.home_section_header {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 32px;
}

.custom-btn {
  text-transform: uppercase;
  border-radius: 24px;
  border: 1px solid var(--primary-theme);
  padding: 6px 20px;
}
.custom-btn:hover {
  background: var(--primary-theme);
  color: #000;
  /* font-weight: 600; */
}

.upcoming_movies_container {
  background-image: url("/upcoming-movies-bg.jpg");
  background-size: cover;
  background-position: center;
}

.best_tv_series_container {
  background-image: url("/best-tv-shows.jpg");
  background-size: cover;
  background-position: center;
}

.loading_animate {
  animation: loading 1.2s ease infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
